<div class="bg-gradient-to-r from-purple-500 to-blue-500 h-screen flex">
  <div class="max-w-xl w-full mx-auto pt-[25vh]">
    <h2 class="text-4xl text-gray-200 mb-6">Sign up</h2>
    
    <div class="w-full mx-auto rounded-lg p-2 backdrop-blur bg-gray-400/50">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="flex gap-3 w-full">
          <div class="field w-1/3 flex-shrink-0 text-indigo-100 flex-col">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "w-full bg-gray-600/50 rounded-lg text-gray-100" %>
          </div>
          <div class="field w-full text-indigo-100 flex-col">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "w-full bg-gray-600/50 rounded-lg text-gray-100" %>
          </div>
        </div>
        <div class="field w-full text-indigo-100">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full bg-gray-600/50 rounded-lg text-gray-100" %>
        </div>

        <div class="field w-full text-indigo-100">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "w-full bg-gray-600/50 rounded-lg text-gray-100" %>
        </div>

        <div class="field w-full text-indigo-100">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full bg-gray-600/50 rounded-lg text-gray-100" %>
        </div>

        <div class="actions mt-3">
          <%= f.submit "Sign up", class: "bg-blue-500 text-blue-50 p-2 rounded-lg w-32 cursor-pointer hover:bg-blue-700/75" %>
        </div>
      <% end %>
      <div class="flex gap-2 mt-2">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>