<div class="bg-gradient-to-r from-purple-500 to-blue-500 h-screen flex">
  <div class="max-w-xl w-full mx-auto pt-[25vh]">
    <h2 class="text-4xl text-gray-200 mb-6">Log in</h2>
    
    <div class="w-full mx-auto rounded-lg p-2 backdrop-blur bg-gray-400/50">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field w-full text-indigo-100">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full bg-gray-600/50 rounded-lg text-gray-100" %>
        </div>

        <div class="field w-full text-indigo-100">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "w-full bg-gray-600/50 rounded-lg text-gray-100" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field w-full text-indigo-100 my-2">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "Log in", class: "bg-blue-500 text-blue-50 p-2 rounded-lg w-32 cursor-pointer hover:bg-blue-700/75" %>
        </div>
      <% end %>
      <div class="flex gap-2 mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>